EXEC="./cardjitsu" # path relativo del ejecutable a correr
TESTS_FOLDER="./Tests/cardjitsu" # path relativo de la carpeta con los tests a correr
TEST_OUTPUT_FILE="output.txt"      # nombre del archivo output utilizado para los tests 
                                   # (puedes crear otro y poner su path aquí si lo deseas) 
MAX_RUNTIME=5000  # 5000 milisegundos

